{% extends "base.html" %}
{% block start %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">  <!-- responsive column -->
      <form class="card p-4" method="post" enctype="multipart/form-data">  
      {% csrf_token %}
        <h2 class="justify-content-center">Add recepie</h2>
        <hr>
        <div class="mb-3">
          <label for="recepie_name" class="form-label">Recepie Name:</label>
          <input id="recepie_name" name="recepie_name" required type="text" class="form-control">
        </div>
        <div class="mb-3">
          <label for="recepie_description" class="form-label">Recepie Description</label>
          <textarea id="recepie_description" name="recepie_description" class="form-control"></textarea>
        </div>
        <div class="mb-3">
          <label for="recepie_image" class="form-label">Recepie Image</label>
          <input id="recepie_image" name="recepie_image" type="file" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Add Recepie</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
